# Задание

In [89]:
import pandas as pd

In [90]:
pd.set_option('display.max_rows', 10)

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [91]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv')
age_index = data['Q2'].value_counts().index[0]
age_value = data['Q2'].value_counts()[0]
print("Самый часто встречаемый возраст:", age_index,'-',age_value)

Самый часто встречаемый возраст: 18-21 - 4559

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [92]:
a = len(data[
    (data['Q4'].str.contains('Russia')) & 
    (data['Q3'].str.contains('Woman')) &
    (data['Q5'].str.contains('No'))
])
b = len(data[
   (data['Q4'].str.contains('Russia')) & 
   (data['Q5'].str.contains('No'))
])
print(round(a / b * 100, 2),"%")

23.78 %

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [93]:
import numpy
a = data['Duration (in seconds)'][1:].astype(int)
seconds = numpy.mean(a)
minutes = seconds / 60
print(round(minutes, 2))

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [94]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
q6_columns
platforms = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns)
platforms.value_counts().iloc[:3]

вопрос  value
Q6_1    Coursera                                                 9699
Q6_10   University Courses (resulting in a university degree)    6780
Q6_3    Kaggle Learn Courses                                     6628
dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [95]:
q12_columns = [col for col in data.columns if col.startswith('Q12')]
q12_columns
languages = data[q12_columns].melt(var_name='вопрос', value_vars=q12_columns)
languages.value_counts().iloc[:5]

вопрос  value
Q12_1   Python    18653
Q12_3   SQL        9620
Q12_2   R          4571
Q12_6   C++        4549
Q12_7   Java       3862
dtype: int64

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [96]:
c = data[data['Q23'].str.contains('Data Scientist') |
        data['Q23'].str.contains('Machine Learning/ MLops Engineer')
]    
c = c['Q29'].dropna()
list_of_means = []
for i in c[1:]:
    first_number = i[i.find('$')+1:i.find('-')]
    first_number = first_number.replace(',', '')
    first_number = first_number.replace('>$1000000', '1000000')
    second_number = i[i.find('-') + 1:]
    second_number = second_number.replace(',', '')
    second_number = second_number.replace('>$1000000', '1000000')
    new_list = []
    new_list.append(float(first_number))
    new_list.append(float(second_number))
    list_of_means.append(numpy.mean(new_list))
print(round(numpy.mean(list_of_means), 2))

67456.35

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся